/*
属性
*/
.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

a.a_666 {
    color: #666 !important;
}

a.f12 {
    font-size: 12px !important
}

a.f12:hover{
    text-decoration: underline;
}

/*通用播放按钮 灰色圆圈*/
a.icon_play{
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 16px;
    height: 17px;
    background-position: 0 0;
    background-image: url('https://s2.music.126.net/style/web2/img/iconall.png?119f3e4c7225f384073a633d5111be1c');
    background-repeat: no-repeat;
}

a.icon_play:hover{
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 16px;
    height: 17px;
    background-position: 0 -60px;
    background-image: url('https://s2.music.126.net/style/web2/img/iconall.png?119f3e4c7225f384073a633d5111be1c');
    background-repeat: no-repeat;
}